Leitor/Leitor/Service References/ServiceReference1/UploadFile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UploadFile" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="Basic1_IUploadFile_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://177.71.195.3/uploadfile/UploadFile.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://177.71.195.3/uploadfile/UploadFile.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUploadFile_GetStatusWCF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusWCF" />
  </wsdl:message>
  <wsdl:message name="IUploadFile_GetStatusWCF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusWCFResponse" />
  </wsdl:message>
  <wsdl:message name="IUploadFile_UploadZipFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadZipFile" />
  </wsdl:message>
  <wsdl:message name="IUploadFile_UploadZipFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadZipFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IUploadFile">
    <wsdl:operation name="GetStatusWCF">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadFile/GetStatusWCF" message="tns:IUploadFile_GetStatusWCF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadFile/GetStatusWCFResponse" message="tns:IUploadFile_GetStatusWCF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadZipFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadFile/UploadZipFile" message="tns:IUploadFile_UploadZipFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadFile/UploadZipFileResponse" message="tns:IUploadFile_UploadZipFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Basic1_IUploadFile" type="tns:IUploadFile">
    <wsp:PolicyReference URI="#Basic1_IUploadFile_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatusWCF">
      <soap:operation soapAction="http://tempuri.org/IUploadFile/GetStatusWCF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadZipFile">
      <soap:operation soapAction="http://tempuri.org/IUploadFile/UploadZipFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadFile">
    <wsdl:port name="Basic1_IUploadFile" binding="tns:Basic1_IUploadFile">
      <soap:address location="http://177.71.195.3/uploadfile/UploadFile.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>